@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors

$yellow: #fd9b02;
$red: #91092d;
$alternative-black: #221f1f;

// Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    border: 0;
}

:focus {
    outline: 0;
}

.clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

// Body

body {
    font-family: 'Roboto', sans-serif;

    .preloader {
        display: none;
        position: absolute;
        width: 100%;
        height: 500%;
        z-index: 9999;
        left: 0;
        top: 0;
        background: #fff;

        &.active {
            display: block;

            .gif {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    header {
        border-bottom: 5px solid $yellow;

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;

            .logo {
                a img {
                    width: 120px;
                }
            }

            .options {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .sign-buttons {
                    a {
                        font-size: 14px;
                        padding: 4px 8px;
                        border-right: 1px solid $alternative-black;
                        color: $alternative-black;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .langs {
                    select {
                        padding: 4px 8px;
                        font-size: 14px;
                    }
                }
            }
        }

        nav.menu {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                background: $red;
                li {
                    a {
                        color: #fff;
                        padding: 12px 16px;
                        font-size: 16px;
                        text-transform: uppercase;
                        transition: 200ms background-color ease-in-out;

                        &:hover {
                            background: darken($red, 5);
                        }
                    }
                }
            }
        }
    }

    .sign-in-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        .login {
            .login-part {
                width: 451px;
                background: #fff;
                box-shadow: 0 12px 24px 0 rgba(#12263F, .05);
                border-radius: 4px;
    
                .cover {
                    padding: 24px;
    
                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                        color: $red;
                    }
                }
    
                form {
                    padding: 0 28px;
    
                    label {
                        display: block;
                        color: #495057;
                        margin-bottom: 16px;
    
                        &.non-checkbox {
                            h2 {
                                font-size: 13px;
                                font-weight: 500;
                                margin-bottom: 8px;
                            }
        
                            input {
                                font-size: 13px;
                                width: 395px;
                                height: 36px;
                                padding: 8px 12px;
                                border: 1px solid #CED4DA;
                                border-radius: 4px;
                            }
                        }
    
                        &.checkbox {
                            display: flex;
                            justify-content: left;
                            align-items: center;
    
                            span {
                                font-size: 13px;
                                font-weight: 500;
                                color: #495057;
                                margin-left: 8px;
                            }
                        }
                    }
    
                    a {
                        text-decoration: none;
                        font-size: 12px;
    
                        &.login-btn {
                            display: block;
                            width: 100%;
                            height: 32px;
                            font-size: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            background: $red;
                            border-radius: 4px;
                            transition: 200ms background-color ease-in;
    
                            &:hover {
                                background: darken($red, 5);
                            }
                        }
    
                        &.forgot-password {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #74788D;
                            margin: 24px 0;
    
                            &:hover span {
                                text-decoration: underline;
                            }
    
                            img {
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        margin: 16px 64px;
        border-bottom: 1px solid $alternative-black;

        &.reservation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;

        .option {
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                margin: 4px;
                padding: 8px 16px;
                border-right: 1px solid $red;

                &:last-child {
                    border: 0;
                }

                p {
                    color: $red;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                input {
                    padding: 8px 16px;
                    border: 1px solid $red;
                    border-radius: 4px;
                    font-size: 16px;
                }
            }
        }

        .check-button {
            a {
                padding: 12px 16px;
                border: 1px solid $red;
                border-radius: 4px;
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
                color: #fff;
                background: $red;
                transition: 200ms background-color ease-in-out;

                &:hover {
                    background: darken($red, 5);
                }
            }
        }
        }

        &.our-amenities {
            h2 {
                font-size: 32px;
                color: $red;
                text-align: center;
                margin-bottom: 16px;
            }

            .amenities {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .amenity {
                    width: 180px;
                    height: 180px;
                    border-radius: 8px;
                    border: 1px solid $red;
                    margin: 16px;
                    padding: 16px;
                    display: grid;
                    place-items: center;

                    i {
                        font-size: 32px;
                        color: $red;
                    }

                    p {
                        color: $alternative-black;
                        font-size: 16px;
                    }
                }
            }
        }

        &.contact {
            display: flex;
            justify-content: space-between;
            align-items: top;
            padding-bottom: 16px;
            border-bottom: 0;

            aside {
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: space-between;

                table.contact-info {
                    margin: 4px;

                    tr {
                        td {
                            &.icon {
                                width: 24px;
                                height: 24px;
                                text-align: center;
                                display: inline-block;
                                margin-right: 4px;
                            }
                        }
                    }
                }

                .socials {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    a {
                        width: 32px;
                        height: 32px;
                        border-radius: 32px;
                        border: 1px solid #000;
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 4px;
                        transition: 200ms all ease-in-out;

                        &:hover {
                            color: $red;
                            border-color: $red;
                        }
                    }
                }
            }

            .map {
                width: 512px;
                height: 256px;
                background: #ccc;

                iframe {
                    border: 1px dashed $alternative-black;
                }
            }
        }

        &.about {
            border-bottom: 0;

            img {
                margin-top: 48px;
                float: right;
            }

            h1 {
                font-weight: bold;
                text-transform: uppercase;
                color: $red;
                font-size: 24px;
                margin-bottom: 16px;
            }

            p {
                font-size: 15px;
                max-width: 1000px;
                line-height: 1.2em;
            }
        }

        &.rooms {
            border-bottom: 0;

            h1 {
                font-size: 32px;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                color: $red;
                margin-bottom: 16px;
            }

            .room {
                width: 100%;
                height: 250px;
                margin: 16px;
                display: flex;
                justify-content: center;
                margin-bottom: 32px;

                .photo {
                    img {
                        height: 250px;
                        border: 1px solid $alternative-black;
                        border-right: none;
                        border-radius: 4px 0 0 4px;
                    }
                }

                .info {
                    padding: 8px;
                    padding-left: 16px;
                    border: 1px solid $alternative-black;
                    border-left: 0;
                    border-radius: 0 4px 4px 0;

                    h2 {
                        font-size: 24px;
                        text-transform: capitalize;
                        font-weight: medium;
                        color: $red;
                        margin-bottom: 8px;
                    }

                    p {
                        max-width: 80%;
                        line-height: 1.1;
                        margin-bottom: 8px;
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        
                        .highlights {
                            margin-top: 8px;
                            h3 {
                                font-size: 16px;
                                font-weight: bold;
                                margin-bottom: 8px;
                            }
        
                            ul {
                                list-style-type: disc;
                                margin-left: 20px;
        
                                li {
                                    margin-bottom: 4px;
                                }
                            }
                        }

                        .details {
                            p.fee {
                                max-width: 1000px;
                                font-size: 16px;
                                
                                span {
                                    font-weight: bold;
                                }
                            }

                            a {
                                padding: 12px 16px;
                                background: $red;
                                color: #fff;
                                font-size: 16px;
                                transition: 200ms all ease-in-out;
                                text-transform: uppercase;

                                &:hover {
                                    background: darken($red, 5);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.booking {
            border-bottom: 0;
            display: flex;
            justify-content: space-between;

            main {
                h1 {
                    font-size: 36px;
                    font-weight: 700;
                    color: $alternative-black;
                    margin-bottom: 16px;
                }

                .table {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 4px solid $red;
                    border-bottom: 4px solid $red;
                    padding: 8px 0;
                    margin-bottom: 16px;

                    div {
                        width: 400px;
                        h3 {
                            font-size: 28px;
                            font-weight: 700;
                            color: $red;
                            margin-bottom: 8px;
                        }

                        p {
                            font-size: 20px;
                            margin-bottom: 4px;
                        }

                        &.right {
                            text-align: right;
                        }
                    }
                }

                h2 {
                    font-size: 24px;
                    font-weight: 700;
                    color: $alternative-black;
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;

                    label {
                        width: 32px;
                        height: 32px;
                        border-radius: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 4px;
                    }
                }

                form {
                    &.guest-info {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 12px;

                        input {
                            padding: 16px 12px;
                            border: 1px solid #ccc;
                            margin-bottom: 4px;
                        }
                    }

                    &.card-info {
                        div {
                            &:last-child {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }

                            input {
                                padding: 16px 12px;
                                border: 1px solid #ccc;
                                width: 100%;
                                margin-bottom: 4px;
                            }

                            select {
                                padding: 16px 12px;
                                border: 1px solid #ccc;
                                width: 49.5%;
                            }
                        }
                    }
                }

                a.button {
                    width: 100%;
                    text-align: center;
                    padding: 12px 16px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                    background: $red;
                    margin-top: 24px;
                    transition: 200ms all ease-in-out;

                    &:hover {
                        background: darken($red, 5);
                    }
                }
            }

            aside {
                height: 100vh;

                .photo {
                    img {
                        height: 240px;
                    }
                }

                
                h2 {
                    margin: 8px 0;
                    font-size: 20px;
                    font-weight: 700;
                    padding-left: 4px;
                }

                p {
                    font-size: 18px;
                    padding-left: 4px;
                }

                span {
                    display: block;
                    font-size: 14px;
                    opacity: .7;
                    margin: 6px 0;
                    padding-left: 4px;
                }

                a {
                    color: $red;
                    padding-left: 4px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
    footer {
        .lines {
            display: flex;
            justify-content: center;
            align-items: center;

            .line {
                width: 100%;
                height: 5px;

                &.yellow {
                    background: $yellow;
                }

                &.red {
                    background: $red;
                }
            }
        }

        .top {
            color: #fff;
            background: $alternative-black;
            display: flex;
            justify-content: space-around;
            align-items: top;
            padding: 16px;

            .side {
                h3 {
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }

                .cards {
                    i {
                        font-size: 32px;
                        margin-right: 4px;
                    }
                }

                .sponsor-logos {
                    a {
                        transition: 200ms opacity ease-in-out;

                        img {
                            height: 24px;
                            margin-right: 4px;
                        }

                        &:hover {
                            opacity: .7;
                        }
                    }
                }
            }
        }

        .foot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4px;

            .copyright p {
                font-size: 12px;
            }

            .logo img {
                width: 60px;
            }
        }
    }
}