@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

body header {
  border-bottom: 5px solid #fd9b02;
}

body header .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
}

body header .top-bar .logo a img {
  width: 120px;
}

body header .top-bar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .top-bar .options .sign-buttons a {
  font-size: 14px;
  padding: 4px 8px;
  border-right: 1px solid #221f1f;
  color: #221f1f;
}

body header .top-bar .options .sign-buttons a:hover {
  text-decoration: underline;
}

body header .top-bar .options .langs select {
  padding: 4px 8px;
  font-size: 14px;
}

body header nav.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #91092d;
}

body header nav.menu ul li a {
  color: #fff;
  padding: 12px 16px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: 200ms background-color ease-in-out;
  transition: 200ms background-color ease-in-out;
}

body header nav.menu ul li a:hover {
  background: #790826;
}

body .sign-in-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

body .sign-in-page .login .login-part {
  width: 451px;
  background: #fff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(18, 38, 63, 0.05);
          box-shadow: 0 12px 24px 0 rgba(18, 38, 63, 0.05);
  border-radius: 4px;
}

body .sign-in-page .login .login-part .cover {
  padding: 24px;
}

body .sign-in-page .login .login-part .cover h3 {
  font-size: 20px;
  font-weight: 500;
  color: #91092d;
}

body .sign-in-page .login .login-part form {
  padding: 0 28px;
}

body .sign-in-page .login .login-part form label {
  display: block;
  color: #495057;
  margin-bottom: 16px;
}

body .sign-in-page .login .login-part form label.non-checkbox h2 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
}

body .sign-in-page .login .login-part form label.non-checkbox input {
  font-size: 13px;
  width: 395px;
  height: 36px;
  padding: 8px 12px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}

body .sign-in-page .login .login-part form label.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sign-in-page .login .login-part form label.checkbox span {
  font-size: 13px;
  font-weight: 500;
  color: #495057;
  margin-left: 8px;
}

body .sign-in-page .login .login-part form a {
  text-decoration: none;
  font-size: 12px;
}

body .sign-in-page .login .login-part form a.login-btn {
  display: block;
  width: 100%;
  height: 32px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #91092d;
  border-radius: 4px;
  -webkit-transition: 200ms background-color ease-in;
  transition: 200ms background-color ease-in;
}

body .sign-in-page .login .login-part form a.login-btn:hover {
  background: #790826;
}

body .sign-in-page .login .login-part form a.forgot-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #74788D;
  margin: 24px 0;
}

body .sign-in-page .login .login-part form a.forgot-password:hover span {
  text-decoration: underline;
}

body .sign-in-page .login .login-part form a.forgot-password img {
  margin-right: 4px;
}

body section {
  margin: 16px 64px;
  border-bottom: 1px solid #221f1f;
}

body section.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

body section.reservation .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.reservation .option label {
  margin: 4px;
  padding: 8px 16px;
  border-right: 1px solid #91092d;
}

body section.reservation .option label:last-child {
  border: 0;
}

body section.reservation .option label p {
  color: #91092d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

body section.reservation .option label input {
  padding: 8px 16px;
  border: 1px solid #91092d;
  border-radius: 4px;
  font-size: 16px;
}

body section.reservation .check-button a {
  padding: 12px 16px;
  border: 1px solid #91092d;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #91092d;
  -webkit-transition: 200ms background-color ease-in-out;
  transition: 200ms background-color ease-in-out;
}

body section.reservation .check-button a:hover {
  background: #790826;
}

body section.our-amenities h2 {
  font-size: 32px;
  color: #91092d;
  text-align: center;
  margin-bottom: 16px;
}

body section.our-amenities .amenities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body section.our-amenities .amenities .amenity {
  width: 180px;
  height: 180px;
  border-radius: 8px;
  border: 1px solid #91092d;
  margin: 16px;
  padding: 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

body section.our-amenities .amenities .amenity i {
  font-size: 32px;
  color: #91092d;
}

body section.our-amenities .amenities .amenity p {
  color: #221f1f;
  font-size: 16px;
}

body section.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding-bottom: 16px;
  border-bottom: 0;
}

body section.contact aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section.contact aside table.contact-info {
  margin: 4px;
}

body section.contact aside table.contact-info tr td.icon {
  width: 24px;
  height: 24px;
  text-align: center;
  display: inline-block;
  margin-right: 4px;
}

body section.contact aside .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section.contact aside .socials a {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid #000;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
}

body section.contact aside .socials a:hover {
  color: #91092d;
  border-color: #91092d;
}

body section.contact .map {
  width: 512px;
  height: 256px;
  background: #ccc;
}

body section.contact .map iframe {
  border: 1px dashed #221f1f;
}

body section.about {
  border-bottom: 0;
}

body section.about img {
  margin-top: 48px;
  float: right;
}

body section.about h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #91092d;
  font-size: 24px;
  margin-bottom: 16px;
}

body section.about p {
  font-size: 15px;
  max-width: 1000px;
  line-height: 1.2em;
}

body section.rooms {
  border-bottom: 0;
}

body section.rooms h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #91092d;
  margin-bottom: 16px;
}

body section.rooms .room {
  height: 250px;
  width: 100%;
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #221f1f;
  border-radius: 5px;
  z-index: 1;
  margin-bottom: 32px;
}

body section.rooms .room .photo img {
  height: 250px;
  z-index: -1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

body section.rooms .room .info {
  padding: 8px;
  padding-left: 16px;
}

body section.rooms .room .info h2 {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: medium;
  color: #91092d;
  margin-bottom: 8px;
}

body section.rooms .room .info p {
  max-width: 80%;
  line-height: 1.1;
  margin-bottom: 8px;
}

body section.rooms .room .info .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body section.rooms .room .info .bottom .highlights {
  margin-top: 8px;
}

body section.rooms .room .info .bottom .highlights h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

body section.rooms .room .info .bottom .highlights ul {
  list-style-type: disc;
  margin-left: 20px;
}

body section.rooms .room .info .bottom .highlights ul li {
  margin-bottom: 4px;
}

body section.rooms .room .info .bottom .details p.fee {
  max-width: 1000px;
  font-size: 16px;
}

body section.rooms .room .info .bottom .details p.fee span {
  font-weight: bold;
}

body section.rooms .room .info .bottom .details a {
  padding: 12px 16px;
  background: #91092d;
  color: #fff;
  font-size: 16px;
  -webkit-transition: 200ms all ease-in-out;
  transition: 200ms all ease-in-out;
  text-transform: uppercase;
}

body section.rooms .room .info .bottom .details a:hover {
  background: #790826;
}

body footer .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .lines .line {
  width: 100%;
  height: 5px;
}

body footer .lines .line.yellow {
  background: #fd9b02;
}

body footer .lines .line.red {
  background: #91092d;
}

body footer .top {
  color: #fff;
  background: #221f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  padding: 16px;
}

body footer .top .side h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

body footer .top .side .cards i {
  font-size: 32px;
  margin-right: 4px;
}

body footer .top .side .sponsor-logos a {
  -webkit-transition: 200ms opacity ease-in-out;
  transition: 200ms opacity ease-in-out;
}

body footer .top .side .sponsor-logos a img {
  height: 24px;
  margin-right: 4px;
}

body footer .top .side .sponsor-logos a:hover {
  opacity: .7;
}

body footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px;
}

body footer .foot .copyright p {
  font-size: 12px;
}

body footer .foot .logo img {
  width: 60px;
}
/*# sourceMappingURL=style.css.map */