@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Colors

$yellow: #fd9b02;
$red: #91092d;
$alternative-black: #221f1f;
$gray: #f3f3f3;
$darker-gray: #e3e3e3;

// Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    border: 0;
}

:focus {
    outline: 0;
}

.clear {
    clear: both;
}

* {
    box-sizing: border-box;
}

html {
	height: 100%;
}

// Body

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	height: 100%;
	overflow: hidden;

	aside {
		width: 320px;
		border-right: 1px solid $darker-gray;

		.logo {
			height: 60px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 16px 12px;
			border-bottom: 1px solid $darker-gray;
			position: sticky;
			top: 0;
			z-index: 1;
			background: #fff;

			img {
				width: 120px;
			}
		}

		nav {
			ul {
				li {
					a {
						width: 100%;
						font-size: 16px;
						padding: 16px 12px;
						color: $alternative-black;
						border-bottom: 1px solid $gray;
						transition: 200ms all ease-in;
						display: flex;
						justify-content: left;
						align-items: center;

						&.active, &:hover {
							color: $red;
						}

						label {
							width: 32px;
							height: 32px;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							margin-right: 4px;
						}
					}
				}
			}
		}
	}

	main {
		width: 100%;
		display: flex;
		flex-direction: column;

		header {
			height: 60px;
			border-bottom: 1px solid $darker-gray;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 16px 12px;
			color: $alternative-black;
			position: sticky;
			top: 0;
			z-index: 1;
			background: #fff;

			.search {
				background: #ececec;
				padding: 8px 16px;
				border-radius: 4px;
				display: flex;
				align-items: center;

				i {
					font-size: 14px;
					margin-right: 4px;
				}

				span {
					margin-right: 4px;
				}

				input, select {
					color: $alternative-black;
					background: #ececec;
				}

				input {
					border-right: 1px solid $alternative-black;
					margin-right: 8px;
				}

				select {
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: '';
				}
			}

			.right-side {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.notifications {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.notification {
						width: 36px;
						height: 36px;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
						transition: 200ms all ease-in;
						margin-right: 6px;
						position: relative;

						&:hover {
							background: #ececec;
						}

						&::before {
							content: '';
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background: $red;
							position: absolute;
							top: 8px;
							right: 8px;
						}

						i {
							font-size: 18px;
							color: $alternative-black;
						}
					}
				}

				.admin {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 16px;

					.name {
						margin-right: 16px;

						p {
							font-weight: 500;
						}
					}

					.photo {
						img {
							width: 32px;
							height: 32px;
							border-radius: 50%;
						}
					}
				}
			}
		}

		section {
			height: 100%;
			overflow: auto;

			.reservation {
				padding: 16px 64px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.dates, .ints {
					label {
						margin: 8px;

						h3 {
							color: $alternative-black;
							font-weight: 600;
							margin-bottom: 4px;
						}

						input {
							width: 100%;
							height: 40px;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 8px 16px;
							border: 1px solid $alternative-black;
							color: $alternative-black;
							border-radius: 5px;
						}
					}
				}

				a {
					font-size: 20px;
					color: #fff;
					background: $alternative-black;
					padding: 8px 16px;
					border: 2px solid $alternative-black;
					border-radius: 5px;
					transition: 200ms all ease-in-out;

					&:hover {
						background: #fff;
						color: $alternative-black;
					}
				}

			}

			.table {
				margin: 48px;

				thead, tbody {
					tr {
						th {
							background: $alternative-black;
							color: #fff;
							border-color: #fff;
							text-align: center;
							font-weight: 500;
						}
						th, td {
							padding: 8px 16px;
							border: 1px solid $alternative-black;
						}
					}
				}
			}
		}

		footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 32px 12px;
			background: $gray;
			color: $alternative-black;
			border-top: 1px solid $darker-gray;
			position: sticky;
			bottom: 0;
			z-index: 1;
			
			p {
				font-size: 14px;

				a {
					color: #094991;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}